@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#project-title {
	font-family			: 'Bungee Shade', cursive;
	font-size			: 50px;
}

#footer-title {
	font-family			: 'Bungee Shade', cursive;
	font-size			: 25px;
}
